

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <div class="container">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup ">
      
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
  
        <div class="formGroup ">
          
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
  
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="login" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
  
        
          <h2 class="or">or login with</h2>
       
  
         
        <div class="circle">
          
            <i class="fab fa-google-plus-g g" (click)="authService.GoogleAuth()"></i>
            
          
        </div>
        
  
      </div>
    
          <div class="forgotPassword">
            <span routerLink="/forgot-password">Forgot Password?</span>
          </div>
  
          <div class="redirectto">
          <span class="redirect" routerLink="/register-user">New User? Sign Up</span>
          </div>
  
  

</div>

</body>
