<body>
<div class="container">
   
  
      
        <h3>Thank You for Registering</h3>
  
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong class="main">{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
       
        
        <!-- Calling SendVerificationMail() method using authService Api -->
       
          <button type="submit" class="but"(click)="authService.SendVerificationMail()">
           Resend Verification Email
          </button>
        </div>
  
     
  
      <div class="redirectToLogin">
        <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
      </div>
  
    </div>
  
</body>