
<body>
<div class="container">

<h2>Welcome! You're just one step away.</h2>


<form (submit) ="onAddSubmit(form)">
        <div>
         <input class="form-control" type="text" [(ngModel)]="fullname" name= "fullname" placeholder="Full Name">
        </div>
        <div>
        
        <input class="form-control" type="text" [(ngModel)]="major" name= "major" placeholder="Major">
        </div>
        <div>
       
        <input class="form-control" type="text" [(ngModel)]="hobbies" name= "hobbies"placeholder="Hobbies">
        </div>
        <div>
                <h3>Choose your Profile Picture.</h3>
                <input id="image"  [(ngModel)]="image" name="image" type="file"  accept= ".png,.jpg">
        </div>
        <input type="submit" value="submit" >
      </form>

<a class="nav-link" >
        <i class="fas fa-sign-out-alt" (click)="logout()">Log out</i> </a>
</div>


</body>