


<header>
  <div class ="navigate">

   <div class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
   </div>
   <img src="../../assets/images/logo.png" alt="" class="logo">
   <img src="{{imageURL}}" alt="" class="pp">
   <h1> {{fullname}}</h1>
  </div>
</header>
<body>
<div class="bg-img">
<div class="container">
  <div class="menu">
      <li>
      <a href="#home">Start An Event</a>
    </li>
    <li>
      <a routerLink="/viewfriend">View Friends</a>
    </li>
  <li>
      <a href="#contact">Level Up ^ Tutoring</a>
    </li>
    <li>
        <a href="#contact">Memes</a>
      </li>
  <li>
      <a href="#about">Feedback? Contact Us</a>
    </li>
   
  </div>
</div>
</div>

<div class="bottom">
<div class="league">
  <h2 >Everything is figureoutable;</h2>
  <p class="everything"> Connect to other Students at Olemiss. Love all </p>
</div>
</div>

</body>