@mixin respond-to($media) {
    @if $media == small-screens {
      @media only screen and (min-width: 20px) and (max-width:449px) { @content; }
    }
    @else if $media == medium-screens {
      @media only screen and (min-width: 450px) and (max-width: 1024px) { @content; }
    }
    @else if $media == wide-screens {
      @media only screen and (min-width: 1024px) { @content; }
    }
  }
$primary-color: #a0b6d5;
$secondary-color: rgb(99, 57, 57);
$third-color: rgb(59, 69, 108);
@mixin easeOut {
    transition: all 0.5s ease-out;
    
}
body{
    padding:0;
    margin:0;
}
.navigate{
    margin:0;
    padding:0;
    background-color: $secondary-color;
    height: 70px;
    
}
header{
    padding:0;
    margin:0;
}
body{
    margin:0;
    padding:0;
    background-color: $primary-color;
    min-height:100vh;
    overflow: hidden;
}

.bg-img{
    background: url('../../assets/images/dotted.jpg') no-repeat center center fixed; 
    position: relative;
    height:90vh;
    margin:0;
    padding:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    @include respond-to(medium-screens){height: 80vh;};
    @include respond-to(small-screens){height: 50vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    
    
    };
}





.container  {
    opacity:0;
  &.show{
      opacity:0.9;
    width:50vh;
   
    background-color: rgb(196, 116, 116);
    height: 90vh;
    @include easeOut();
  }
}
.menu a{
    padding:1rem;
    display:inline-block;
    color:white;
    font-weight: bold;


}
.menu .close{

}
li{
    list-style: none;
    
}
h6{
    color:black;
}h1{
            position: absolute;
            font-size:18px;
            top:30px;
            right:2rem;
            color:white;
            
           // display: inline-block;
            }

        .pp{
            position: absolute;
            top:18px;
            right:10.7rem;
            width:45px;
            height: 45px;
            border: 2px solid white;
            border-radius: 50%;
            @include respond-to(medium-screens){ display:none; }
            @include respond-to(small-screens){ display:none; }

 
        }
        .logo{
            position: absolute;
            top:14px;
            left:6rem;
            width:120px;
            height: 46px;
           // border: 2px solid white;
           @include respond-to(medium-screens){ display:none; }
           @include respond-to(small-screens){ display:none; }


        }




.menu-btn{
    position:absolute;
    z-index:3;
   left:35px;
    top:35px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width:28px;
        height:3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut();
    }
    //Rotate Into X with menu lines
    &.close{
        transform: rotate(180deg);
        .btn-line{
            //Line 1-Rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px,5px);
            }

            //Line 2-Disappear
            &:nth-child(2){
               opacity: 0;
            }

            //Line 3- Rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px,-6px);
            }

        }
    }
}

//Menu overlay
html{
    margin:0;
    padding:0;
}
.league{
    background-color: $primary-color;
    height: 500px;
    margin:0px;
    padding:0px;
    h2{
            opacity:1;
            font-size: 3rem;
            padding: 0.3rem;
            padding-top:6rem;
            @include easeOut();

        }
    .everything{
        opacity:0;
        &.land{
            opacity:1;
            font-size:2rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    
    
}
.bottom{
    height: 200vh;
}